<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  About page on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial About page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>